html{
    background: linear-gradient(rgba(97, 93, 95, 1),rgba(195, 183, 189, 1));
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
#calculator{
    position: relative;
    top: 300px;
    margin: auto;
    padding: 10px 20px;
    width: 30em;
    height: 32.5em;

}
#innerContent{
    box-sizing:border-box;
    background-color: rgba(204, 204, 204, 1);
    border-radius: 20px 0px 20px 0px;
    display: block;
    margin: auto;
    border: none;
    width: 25em;
    height: 32em;
    box-shadow: 10px 5px 5px rgba(0,0,0,1);
}
#resultsContainer{
    margin: auto;
    cursor: default;
    width: 300px;
    height: 2em;
    text-align: right;
}
#results{
    border-radius: 20px 0px 0px 0px;
    color: rgba(115, 115, 115, 1);
    position: relative;
    top: 32px;
    left: -1px;
}
#currentContainer{
    background-color: white;
    border-radius: 20px 0px 10px 0px;
    margin: auto;
    cursor: text;
    width: 300px;
    height: 70px;
    font-size: 50px;
    text-align: right;
    box-shadow: 3px 3px 3px;
}
#current{
    position: relative;
    top: 16px;
}
#buttonContainer{
    position: relative;
    top: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 25em;
}
#row1,
#row2,
#row3,
#row4,
#row5{
    margin:auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 3px;

}
.buttons{
    box-sizing: border-box;
    padding:0;
    text-align: center;
    width: 70px;
    height: 75px;
    font-size: 60px;
    border: none;
    color: rgba(255,255,255,1);
    border-radius: 15px;
    cursor: pointer;
}
.buttons:hover{
    filter:brightness(50%);
}
.numbers,
.symbols,
#clear{
    border-radius: 15px;
}
.numbers{
    background-color: rgba(80,80,80,1);
}
.symbols{
    background-color: rgba(30,30,30,1);
}
#clear{
    width:146px;
    height: 75px;
    background-color: rgba(100,0,0,1);
}
#equals{
    width:140px;
}
.hover{
    filter:brightness(50%);
}